# Dependencias
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de construcción
dist
build

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de git
.git
.gitignore

# Archivos de IDE
.vscode
.idea
*.swp
*.swo

# Archivos de entorno (se manejarán en tiempo de ejecución)
.env.local
.env.*.local

# Logs
logs
*.log

# Archivos temporales
*.tmp
*.temp

# Documentación
README.md
*.md

# Archivos de configuración que no son necesarios en producción
.eslintrc*
.prettierrc*
jest.config.*

# No meter el archivo de override en la imagen de producción
docker-compose.override.yml

# No meter el .env (Las variables se pasan por el docker-compose o el panel del servidor)
.env
.env.*

# Evitar meter archivos de Docker en la propia imagen
docker-compose.yml
Dockerfile
