# Entorno de la aplicación (development | production)
NODE_ENV=development

# URL de la API (Backend Laravel)
# Local: http://localhost:8000/
# Producción: https://tu-api-real.com/
VITE_BASE_API_URL=http://localhost:8000/

# Configuración de Docker
# Usa v1.0, v2.0 o 'latest'
TAG=latest

# --- NOTA PARA EL DESARROLLADOR ---
# Copia este archivo como .env y ajusta las variables 
# según tu entorno local.